In [2]:
import olympics
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import pandas as pd
plt.style.use('seaborn')

In [3]:
country = olympics.Country("Spain")

In [4]:
country.historical_olympics_data()

,index,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,medals_numeric,olympics
0,151032,75797,Luis Jess Martnez Encabo,M,32.0,172.0,70.0,Spain,ESP,2008 Summer,2008,Summer,Beijing,Shooting,"Shooting Men's Small-Bore Rifle, Prone, 50 metres",None,Spain,None,NaN,Beijing 2008
1,151031,75797,Luis Jess Martnez Encabo,M,32.0,172.0,70.0,Spain,ESP,2008 Summer,2008,Summer,Beijing,Shooting,"Shooting Men's Air Rifle, 10 metres",None,Spain,None,NaN,Beijing 2008
2,151007,75781,Laura Martnez Ruiz,F,16.0,149.0,39.0,Spain,ESP,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Women's Horse Vault,None,Spain,None,NaN,Sydney 2000
3,68258,34867,Nieves Fernndez Mata,F,23.0,NaN,NaN,Spain,ESP,1992 Summer,1992,Summer,Barcelona,Shooting,"Shooting Women's Small-Bore Rifle, Three Posit...",None,Spain,None,NaN,Barcelona 1992
4,41946,21618,Mihaela Ciobanu Ciobanu,F,39.0,175.0,73.0,Spain,ESP,2012 Summer,2012,Summer,London,Handball,Handball Women's Handball,Bronze,Spain,None,1.0,London 2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,198669,99766,Antonio Manuel Reina Ballesteros,M,31.0,186.0,71.0,Spain,ESP,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 800 metres,None,Spain,None,NaN,London 2012
4891,65082,33306,Reyes Estvez Lpez,M,28.0,187.0,70.0,Spain,ESP,2004 Summer,2004,Summer,Athina,Athletics,"Athletics Men's 1,500 metres",None,Spain,None,NaN,Athina 2004
4892,82952,42137,Jos Ramn Goyeneche Bilbao,M,23.0,174.0,75.0,Spain,ESP,1964 Summer,1964,Summer,Tokyo,Cycling,Cycling Men's 100 kilometres Team Time Trial,None,Spain,None,NaN,Tokyo 1964
4893,52527,26983,Gervasio Deferr ngel,M,19.0,166.0,69.0,Spain,ESP,2000 Summer,2000,Summer,Sydney,Gymnastics,Gymnastics Men's Horse Vault,Gold,Spain,None,3.0,Sydney 2000
4894,65081,33306,Reyes Estvez Lpez,M,19.0,187.0,70.0,Spain,ESP,1996 Summer,1996,Summer,Atlanta,Athletics,"Athletics Men's 1,500 metres",None,Spain,None,NaN,Atlanta 1996

In [5]:
year_a = 2016
year_b = 1992

In [6]:
height = country.get_histogram(metric_val="Height",_range=range(150,200),year_a=year_a,year_b=year_b)

In [7]:
height[0]

(150, 151]     4
(151, 152]     0
(152, 153]     0
(153, 154]     0
(154, 155]     0
(155, 156]     1
(156, 157]     1
(157, 158]     0
(158, 159]     1
(159, 160]     8
(160, 161]     2
(161, 162]     8
(162, 163]    12
(163, 164]     6
(164, 165]    10
(165, 166]     5
(166, 167]    13
(167, 168]    11
(168, 169]     9
(169, 170]    24
(170, 171]     9
(171, 172]    17
(172, 173]    19
(173, 174]     9
(174, 175]    13
(175, 176]     9
(176, 177]     8
(177, 178]    14
(178, 179]     3
(179, 180]    25
(180, 181]    10
(181, 182]    14
(182, 183]    10
(183, 184]     7
(184, 185]    11
(185, 186]     4
(186, 187]     8
(187, 188]    11
(188, 189]     4
(189, 190]     6
(190, 191]     4
(191, 192]     6
(192, 193]     6
(193, 194]     3
(194, 195]     4
(195, 196]     3
(196, 197]     0
(197, 198]     3
(198, 199]     0
Name: 2016, dtype: int64